@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
body{
    background: #151515;
}

#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    left: -80px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 145px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: #C4C4C4; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 600;
}

#mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
    color: #000;
}
#about {
    top: 20px;
    background-color: #C4C4C4;
}

#projects {
    top: 96px;
    background-color: #C4C4C4; 
}
  
#contact {
    top: 173px;
    background-color: #C4C4C4
}
#pasta{
    border:100px;
    width: 35px;
}
#arroba{
    height: 35px;
    width: auto;
}

#marcello{
    position: absolute;
    width: 384px;
    height: 163px;
    left: 470px;
    top: 23px;

    font-family: 'Archivo Narrow';
    font-style: italic;
    font-weight: 500;
    font-size: 96px;
    line-height: 129px;

    color: #FFFFFF;
}

#cavazza{
    position: absolute;
    width: 389px;
    height: 163px;
    left: 782px;
    top: 118px;

    font-family: 'Archivo Narrow';
    font-style: italic;
    font-weight: 500;
    font-size: 96px;
    line-height: 129px;

    color: #FFFFFF;
}
#marcellobox{
    position: absolute;
    width: 311px;
    height: 34px;
    left: 491px;
    top: 184px;

    background: #052838;
    border-radius: 1px 1px 16px 1px;
}

#cavazzabox{
    position: absolute;
    width: 291px;
    height: 30px;
    left: 835px;
    top: 287px;

    background: #052838;
    border-radius: 1px 1px 15px 1px;
}

footer{
    position: absolute;
    width: 755px;
    height: 48px;
    left: 215px;
    top: 280px;
    padding: 250px 250px 189px 250px;

    font-family: 'Archivo Narrow';
    font-style: italic;
    font-weight: normal;
    font-size: 36px;
    line-height: 48px;

    color: #e9963618;
    transition: 0.3s;
    
}

footer:hover{
    color: #E99536;
}