@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
body{
    background: #151515;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vw;
}

#profile{
    padding: 1vw;
    background: #e99636d7;
    border-radius: 1vw;
}
#me{
    width: 120px;
    height: 120px;

    background: url(me.png);
    border: 10px solid #052838;
    box-sizing: border-box;
    border-radius: 320px;
}

#textme{
    width: 410px;
    height: 150px;

    font-family: 'Archivo Narrow';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 36px;

    color: #151515;
}

.bold{
    font-weight: 700;
}

#curriculolink{
    width: 260px;
    height: 31px;

    text-decoration: none;
    transition: 0.3s;
    border: 1px #C4C4C4;

    font-family: 'Archivo Narrow';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 43px;

    color: #151515;
}
#curriculolink:hover{
    color: #fff;
}

#textescola{
    width: 429px;
    height: 237px;

    font-family: 'Archivo Narrow';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 36px;

    color: #151515;
}

#competencias{
    width: 283px;
    height: 65px;

    font-family: 'Archivo Narrow';
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 65px;

    color: rgba(255, 255, 255, 0.603);

}

#compbox{
    width: 786px;
    height: 331px;

    background: #e99636d7;
    border-radius: 63px 172px 48px 58px;
}

#textcomp{
    width: 627px;
    height: 309px;

    font-family: 'Archivo Narrow';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 34px;

    color: #000000;
}

#objetivo{
    width: 171px;
    height: 65px;

    font-family: 'Archivo Narrow';
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 65px;
    /* identical to box height */
    color: rgba(255, 255, 255, 0.692);
}
#objbox{
    width: 753px;
    height: 229px;

    background: #e99636d7;
    border-radius: 63px 172px 48px 58px;
}
#textobj{
    width: 708px;
    height: 192px;

    font-family: 'Archivo Narrow';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: #151515;
}